<ion-header>
<ion-navbar color="primary">
<ion-title> Login </ion-title>
</ion-navbar>
</ion-header>
<ion-content padding>
<img src="http://via.placeholder.com/350x150" class="auth-img">
<form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
<ion-item>
<ion-label stacked>Email</ion-label>
<ion-input formControlName="email" type="email"
placeholder="Your email address"
[class.invalid]="!loginForm.controls.email.valid &&
loginForm.controls.email.dirty">
</ion-input>
</ion-item>
<ion-item class="error-message"
*ngIf="!loginForm.controls.email.valid &&
loginForm.controls.email.dirty">
<p>Please enter a valid email.</p>
</ion-item>
<ion-item>
<ion-label stacked>Password</ion-label>
<ion-input formControlName="password" type="password"
placeholder="Your password"
[class.invalid]="!loginForm.controls.password.valid &&
loginForm.controls.password.dirty">
</ion-input>
</ion-item>
<ion-item class="error-message"
*ngIf="!loginForm.controls.password.valid &&
loginForm.controls.password.dirty">
<p>Your password needs more than 6 characters.</p>
</ion-item>
<button ion-button block type="submit" [disabled]="!loginForm.valid">
Login
</button>
</form>
<button ion-button clear block color="primary-dark" class="login-button"
(click)="goToSignup()">
  créer un nouveau compte
</button>
<button ion-button clear block color="primary-dark" class="login-button"
(click)="goToResetPassword()">
 Réinitialiser votre mot de passe
</button>
<h4  clear block color="primary-dark"> Social Login</h4>
	<ion-list inset>
		<ion-item class="facebook" (click)="facebookLogin()">
			<ion-icon name="logo-facebook" item-left></ion-icon>
			Facebook
		</ion-item>
		<ion-item class="google" (click)="googlelogin()">
			<ion-icon name="logo-google" item-left></ion-icon>
			Google
		</ion-item>
</ion-list>
</ion-content>
