page-login {
form {
margin-bottom: 32px;
button {
margin-top: 20px;
}
}
p {
font-size: 0.8em;
color: #d2d2d2;
}
ion-label { margin-left: 5px; }
ion-input { padding: 5px; }
.invalid { border-bottom: 1px solid #FF6153; }
.error-message .item-inner { border-bottom: 0 !important; }
.facebook{color: white; background-color:darkblue; margin-bottom: 8px}
.google {color :white; background-color: red}
 .facebook-btn {
    background-color: #3b5998;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }

  .google-btn {
    background-color: #d34836;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }
  .ion-logo-google:before {
    content: "\f23a";
    padding-right: 17px;
}
.ion-logo-facebook:before {
    content: "\f236";
    padding: 10px;
}
}
