page-annonce-details {
.col {
    padding: 5px;
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 1px;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 32%;
}

ion-fab[bottom] {
    bottom: 40px;
}
ion-fab[right] {
    right: 17px;
}


}
