<ion-header>
<ion-navbar color="primary">
<ion-title>
Créer un compte
</ion-title>
</ion-navbar>
</ion-header>
<ion-content padding>
<img src="http://via.placeholder.com/350x150" class="auth-img">
<form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
<ion-item>
<ion-label stacked>Email</ion-label>
<ion-input formControlName="email" type="email"
placeholder="Addresse e-mail"
[class.invalid]="!signupForm.controls.email.valid &&
signupForm.controls.email.dirty">
</ion-input>
</ion-item>
<ion-item class="error-message"
*ngIf="!signupForm.controls.email.valid &&
signupForm.controls.email.dirty">
<p>Please enter a valid email.</p>
</ion-item>
<ion-item>
<ion-label stacked>Mot de passe</ion-label>
<ion-input formControlName="password" type="password"
placeholder="mot de passe"
[class.invalid]="!signupForm.controls.password.valid &&
signupForm.controls.password.dirty">
</ion-input>
</ion-item>

<ion-item class="error-message"
*ngIf="!signupForm.controls.password.valid &&
signupForm.controls.password.dirty">
<p>Your password needs more than 6 characters.</p>
</ion-item>
<ion-item>
<ion-label stacked>Confirmer le mot de passe</ion-label>
<ion-input formControlName="Confirmpassword" type="password"
placeholder="Confirmez votre mot de passe"
[class.invalid]="!signupForm.controls.Confirmpassword.valid &&
signupForm.controls.Confirmpassword.dirty">
</ion-input>
</ion-item>
<ion-item class="error-message"
*ngIf="!signupForm.controls.Confirmpassword.valid &&
signupForm.controls.Confirmpassword.dirty">
<p>passwords Not Match </p>
</ion-item>
<button ion-button block type="submit" [disabled]="!signupForm.valid">
Create an Account
</button>
</form>
</ion-content>
