<ion-header>
	<ion-navbar>
		<ion-title>
			Auth with Ionic 3
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

<button ion-button block (click)=" gologin()" *ngIf="!user" >
  LOGIN to Check your profile
</button>

<ion-card *ngIf="user">
  <ion-card-header>
    {{ user.email }}
  </ion-card-header>
<ion-card-header (click)="profile()">
    my profile
  </ion-card-header>
  <ion-card-content>
  </ion-card-content>
</ion-card>



  <button ion-button outline (click)="signOut()" *ngIf="user">Logout</button>
</ion-content>
