<ion-header>
	<ion-navbar>
		<ion-title>
			Auth with Ionic 3
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

<button ion-button block (click)=" google()" *ngIf="!user" >
  GOOGLE LOGIN
</button>
	<button ion-button outline (click)="face()" *ngIf="!user" >
    Login facebook
  </button>
<ion-card *ngIf="user">
  <ion-card-header>
    {{ user.email }}
  </ion-card-header>
  <ion-card-content>
  </ion-card-content>
</ion-card>



  <button ion-button outline (click)="signOut()" *ngIf="user">Logout</button>
</ion-content>
